:root {
  --bg-color: #ffffff;
  --text-color: #313638;
}


body {
  margin: 0 !important;
  /* cursor: none; /* Hide the default cursor */
  cursor: none; /* Hide the default cursor */
}

.splash {
  width: 100vw;
  height: 100vh;
  min-height: -webkit-fill-available;
  /* background-color: #F0EFEA; */
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 2s, color 2s;
}

.info {
  width:100%;
  max-width: 575px;
  padding: 12.5px;

}

.h1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  font-size: 32px;
  /* font-style: italic; */
  /* color: var(--text-color); */
  /* text-align: center; */
  padding-left: 25px;

}

.b1 {
  /* font-family: 'Roboto', sans-serif;
  font-size: 15px; */
  font-weight: 400;
  /* color: #4C4C4A; */
  /* color: var(--text-color); */
  /* text-align: center; */
  padding-left: 25px;
  padding-right: 25px;

}

.korean {
  font-family: 'Gowun Batang', serif;
  font-weight: 700;
  font-size: 20px;
}

.pronounce {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  font-size: 14px;

}

.definition {
  padding-top: 15px;

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

  font-size: 14px;
  line-height: 21px;
}

a {
  color: inherit;
}

a:link {
  text-decoration-style: dotted;
  text-underline-offset: 5px;
}

a:visited {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

/* a:hover {
  color: inherit;
  text-decoration: line-through;
} */



/* cursor */
.cursor {
  width: 16px; /* Set cursor size to 15px */
  height: 16px; /* Set cursor size to 15px */
  border-radius: 50%;
  background-color: var(--text-color); /* Set cursor color to match text color */
  position: absolute;
  pointer-events: none; /* Allow clicks to pass through */
  transition: background-color 0.3s;
}

.cursor-triangle {
  /* display: none; /* Hide triangle cursor by default */ */
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  border-bottom: 15px solid var(--text-color); /* Triangle pointing downwards */
  position: absolute;
  cursor: default;
}
